@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White color */
  --background-start-rgb: 0, 0, 0; /* Black color */
  --background-end-rgb: 0, 0, 0;   /* Black color */
}

body {
  color: rgb(var(--foreground-rgb)); /* Apply foreground color */
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  ); /* Apply gradient background */
}

/* Custom animations */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite; /* Apply float animation */
}
